:root {
  --dsw-alias-label-primary: #0f1115;
  --dsw-alias-label-tertiary: #81858c;
  --dsw-alias-brand-primary: #3964fe;
  --dsw-specific-bubble: #edf3fe;
  --dsw-alias-interactive-bg-hover: rgba(38,49,72,.06);
  --dsw-alias-interactive-bg-hover: rgba(38,49,72,.06);
  --dsw-alias-state-error-primary: #ec1313;
  --dsw-alias-interactive-bg-hover-danger: rgba(236,19,19,.05);
}

:root {
  --message-list-max-width: 840px;
  --message-list-padding-horizontal: 44px;
}
@media not all and (min-width: 1024px) {
  :root {
    --message-list-max-width: 712px;
    --message-list-padding-horizontal: 36px;
  }
}

html, body {
  height: 100%;
}

body {
  word-break: break-word;
  background-color: var(--dsw-alias-bg-base);
  -moz-font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: purple;
  margin: 0;
  overflow: hidden;
  height: 100%;
}