@font-face {
  font-family: "KaTeX_AMS";
  src: url(/static/fonts/KaTeX_AMS-Regular.woff2) format("woff2"), url(/static/fonts/KaTeX_AMS-Regular.woff) format("woff"), url(/static/fonts/KaTeX_AMS-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Caligraphic";
  src: url(/static/fonts/KaTeX_Caligraphic-Bold.woff2) format("woff2"), url(/static/fonts/KaTeX_Caligraphic-Bold.woff) format("woff"), url(/static/fonts/KaTeX_Caligraphic-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Caligraphic";
  src: url(/static/fonts/KaTeX_Caligraphic-Regular.woff2) format("woff2"), url(/static/fonts/KaTeX_Caligraphic-Regular.woff) format("woff"), url(/static/fonts/KaTeX_Caligraphic-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Fraktur";
  src: url(/static/fonts/KaTeX_Fraktur-Bold.woff2) format("woff2"), url(/static/fonts/KaTeX_Fraktur-Bold.woff) format("woff"), url(/static/fonts/KaTeX_Fraktur-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Fraktur";
  src: url(/static/fonts/KaTeX_Fraktur-Regular.woff2) format("woff2"), url(/static/fonts/KaTeX_Fraktur-Regular.woff) format("woff"), url(/static/fonts/KaTeX_Fraktur-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Main";
  src: url(/static/fonts/KaTeX_Main-Bold.woff2) format("woff2"), url(/static/fonts/KaTeX_Main-Bold.woff) format("woff"), url(/static/fonts/KaTeX_Main-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Main";
  src: url(/static/fonts/KaTeX_Main-BoldItalic.woff2) format("woff2"), url(/static/fonts/KaTeX_Main-BoldItalic.woff) format("woff"), url(/static/fonts/KaTeX_Main-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Main";
  src: url(/static/fonts/KaTeX_Main-Italic.woff2) format("woff2"), url(/static/fonts/KaTeX_Main-Italic.woff) format("woff"), url(/static/fonts/KaTeX_Main-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Main";
  src: url(/static/fonts/KaTeX_Main-Regular.woff2) format("woff2"), url(/static/fonts/KaTeX_Main-Regular.woff) format("woff"), url(/static/fonts/KaTeX_Main-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Math";
  src: url(/static/fonts/KaTeX_Math-BoldItalic.woff2) format("woff2"), url(/static/fonts/KaTeX_Math-BoldItalic.woff) format("woff"), url(/static/fonts/KaTeX_Math-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Math";
  src: url(/static/fonts/KaTeX_Math-Italic.woff2) format("woff2"), url(/static/fonts/KaTeX_Math-Italic.woff) format("woff"), url(/static/fonts/KaTeX_Math-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_SansSerif";
  src: url(/static/fonts/KaTeX_SansSerif-Bold.woff2) format("woff2"), url(/static/fonts/KaTeX_SansSerif-Bold.woff) format("woff"), url(/static/fonts/KaTeX_SansSerif-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_SansSerif";
  src: url(/static/fonts/KaTeX_SansSerif-Italic.woff2) format("woff2"), url(/static/fonts/KaTeX_SansSerif-Italic.woff) format("woff"), url(/static/fonts/KaTeX_SansSerif-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_SansSerif";
  src: url(/static/fonts/KaTeX_SansSerif-Regular.woff2) format("woff2"), url(/static/fonts/KaTeX_SansSerif-Regular.woff) format("woff"), url(/static/fonts/KaTeX_SansSerif-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Script";
  src: url(/static/fonts/KaTeX_Script-Regular.woff2) format("woff2"), url(/static/fonts/KaTeX_Script-Regular.woff) format("woff"), url(/static/fonts/KaTeX_Script-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Size1";
  src: url(/static/fonts/KaTeX_Size1-Regular.woff2) format("woff2"), url(/static/fonts/KaTeX_Size1-Regular.woff) format("woff"), url(/static/fonts/KaTeX_Size1-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Size2";
  src: url(/static/fonts/KaTeX_Size2-Regular.woff2) format("woff2"), url(/static/fonts/KaTeX_Size2-Regular.woff) format("woff"), url(/static/fonts/KaTeX_Size2-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Size3";
  src: url(/static/fonts/KaTeX_Size3-Regular.woff2) format("woff2"), url(/static/fonts/KaTeX_Size3-Regular.woff) format("woff"), url(/static/fonts/KaTeX_Size3-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Size4";
  src: url(/static/fonts/KaTeX_Size4-Regular.woff2) format("woff2"), url(/static/fonts/KaTeX_Size4-Regular.woff) format("woff"), url(/static/fonts/KaTeX_Size4-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "KaTeX_Typewriter";
  src: url(/static/fonts/KaTeX_Typewriter-Regular.woff2) format("woff2"), url(/static/fonts/KaTeX_Typewriter-Regular.woff) format("woff"), url(/static/fonts/KaTeX_Typewriter-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --dsw-alias-label-primary: #0f1115;
  --dsw-alias-label-tertiary: #81858c;
  --dsw-alias-brand-primary: #3964fe;
  --dsw-specific-bubble: #edf3fe;
  --dsw-alias-interactive-bg-hover: rgba(38,49,72,.06);
  --dsw-alias-interactive-bg-hover: rgba(38,49,72,.06);
  --dsw-alias-state-error-primary: #ec1313;
  --dsw-alias-interactive-bg-hover-danger: rgba(236,19,19,.05);
}

:root {
  --message-list-max-width: 840px;
  --message-list-padding-horizontal: 44px;
}
@media not all and (min-width: 1024px) {
  :root {
    --message-list-max-width: 712px;
    --message-list-padding-horizontal: 36px;
  }
}

html, body {
  height: 100%;
}

body {
  word-break: break-word;
  background-color: var(--dsw-alias-bg-base);
  -moz-font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: purple;
  margin: 0;
  overflow: hidden;
  height: 100%;
}